<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>納品履歴</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style2.css}">
  <style>
    .scroll-table {
      max-height: 400px;
      overflow-y: auto;
    }
  </style>
</head>
<body>

  <aside>
    <h1>納品書</h1>
    <a th:href="@{/index}" class="aside-btn">TOPへ</a>
    <a th:href="@{/create-delivery-slip-step1}" class="aside-btn">納品書作成</a>
    <a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
    <a th:href="@{/company}" class="aside-btn">会社情報</a>
  </aside>

  <div class="main-content">
    <header class="mb-4">
      <h2>納品履歴</h2>
    </header>

    <div class="form-wrapper mb-4">
      <form th:action="@{/delivery-history-serch}" method="POST" th:object="${historyForm}" class="container">
        <div class="row g-3 mb-3">
          <div class="col-md-4">
            <label for="destination" class="form-label">納品先</label>
            <input type="text" id="destination" class="form-control" th:field="*{destination}">
          </div>
          <div class="col-md-4">
            <label for="start-date" class="form-label">期間(以降)</label>
            <input type="date" id="start-date" class="form-control" th:field="*{startDate}">
          </div>
          <div class="col-md-4">
            <label for="end-date" class="form-label">期間(以前)</label>
            <input type="date" id="end-date" class="form-control" th:field="*{endDate}">
          </div>
        </div>

        <div class="form-btn-container">
			<div class="col">
         		<button type="submit" class="btn btn-primary form-btn">絞り込む</button>
          		<a th:href="@{/delivery-history}" class="btn btn-secondary form-btn">条件のリセット</a>
			</div>
        </div>
      </form>
    </div>

    <div class="table-responsive scroll-table" style="width: 80%;">
      <table class="table table-bordered table-sm text-center">
        <thead class="table-light">
          <tr>
            <th></th>
            <th>日時</th>
            <th>納品先</th>
            <th>納品書</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="list, iStat : ${historyList}">
            <td th:text="${iStat.index + 1}"></td>
            <td th:text="${list.deliveryDate}"></td>
            <td th:text="${list.destination}"></td>
            <td>
              <form th:action="@{delivery-history-view}" method="POST">
                <input type="hidden" name="deliverySlipId" th:value="${list.deliverySlipId}">
                <input type="submit" value="表示" class="btn btn-outline-primary form-delete-btn-mini">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>
