<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>納品書作成</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h2 class="aside-title">納品書</h2>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/create-delivery-slip-step1}" class="aside-btn">納品書作成</a>
		<a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
		<a th:href="@{/company}" class="aside-btn">会社情報</a>
	</aside>
	<div class="main-content">
		<header class="header">
			<h1>納品履歴</h1>
		</header>
		<div class="stock-history-serch-container">
			<div class="form-container" style="margin-top: 20px;">
				<h2>納品書</h2>
				<iframe th:src="@{/pdf/view-history(deliverySlipId=${id})} + '#toolbar=0&navpanes=0'" width="80%" height="420px" style="border: 1px solid #555;"></iframe>
				<div class="form-container">
					<div class="form-btn-container">				
						<form th:action="@{/view-delivery-history-ret}" method="GET" class="form-item">
								<input type="hidden" th:object="${deliveryForm}">
							<input type="submit" value="戻る" class="form-btn  back-btn">
						</form>
						<form th:action="@{/delivery-history-download}" method="GET" class="form-item" th:object="${idWrapper}">
							<input type="hidden" th:field="*{id}">
							<input type="submit" value="ダウンロード" class="form-btn">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>