<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>在庫管理-カテゴリー削除</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h1 class="aside-title">在庫管理</h1>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/stock-shipping}" class="aside-btn">出荷</a>
		<a th:href="@{/stock-arrival}" class="aside-btn">入荷</a>
		<a th:href="@{/regist-category}" class="aside-btn">カテゴリー管理</a>
		<a th:href="@{/regist-item}" class="aside-btn">商品管理</a>
		<a th:href="@{/stock-list}" class="aside-btn">在庫一覧</a>
		<a th:href="@{/stock-history}" class="aside-btn">出納履歴</a>
	</aside>
	
	<div class="main-content">
		<header class="header">
			<h1>商品管理</h1>
		</header>
		<div class="form-container">
			<h3 class="h3-title">商品削除</h3>		
			<div class="table-container">
				<div class="form-table">
					<table>
						<tbody>
							<tr th:each="list : ${itemList}">
								<th class="list-item-5 height-50px">
									商品名
								</th>
								<td class="list-item-4 item-left-midi">
									<p th:text="${list.itemName}" class="table-p"></p> 
								</td>
								<td class="error-td list-item-2"></td>
							</tr>
						</tbody>
					</table>			
				</div>
			</div>
			<p style="margin: 0; padding: 0px; transform: translateY(-20px);">この内容を削除します。よろしいですか？</p>
			<div class="form-btn-container" th:each="list : ${itemList}">				
				<form th:action="@{/regist-item}" method="GET" th:object="${itemForm}" class="form-item">
					<input type="hidden" th:field="*{itemName}">
					<input type="submit" value="戻る" class="form-btn  back-btn">
				</form>
				<form th:action="@{/confirm-item-delete}" method="POST" th:object="${itemForm}" class="form-item">
					<input type="hidden" th:name="itemId" th:value="${list.itemId}">
					<input type="submit" value="削除" class="form-btn">
				</form>
			</div>						
		</div>
	</div>

</body>
</html>