<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>在庫管理 - 商品編集</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>

  <aside>
    <h1>在庫管理</h1>
    <a th:href="@{/index}" class="aside-btn">TOPへ</a>
    <a th:href="@{/stock-shipping}" class="aside-btn">出荷</a>
    <a th:href="@{/stock-arrival}" class="aside-btn">入荷</a>
    <a th:href="@{/regist-category}" class="aside-btn">カテゴリー管理</a>
    <a th:href="@{/regist-item}" class="aside-btn">商品管理</a>
    <a th:href="@{/stock-list}" class="aside-btn">在庫一覧</a>
    <a th:href="@{/stock-history}" class="aside-btn">出納履歴</a>
  </aside>

  <div class="main-content">
    <header class="mb-4">
      <h1>商品編集</h1>
    </header>

    <div class="form-wrapper">
      <form th:action="@{item-edit-input}" method="POST" id="editForm" th:object="${itemForm}">
        <h3 class="h3-title">商品編集</h3>
        <table class="table table-bordered align-middle">
          <tbody>
            <tr>
              <th class="w-25">商品名</th>
              <td>
                <input type="text" th:field="*{itemName}" class="form-control">
                <input type="hidden" th:field="*{itemId}">
                <input type="hidden" th:field="*{categoryId}">
                <div th:if="${#fields.hasErrors('itemName')}" class="text-danger small mt-1" th:errors="*{itemName}"></div>
              </td>
            </tr>
            <tr>
              <th>価格</th>
              <td>
                <input type="text" th:field="*{price}" class="form-control">
                <div th:if="${#fields.hasErrors('price')}" class="text-danger small mt-1" th:errors="*{price}"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered align-middle" th:object="${sizeFormWrapper}">
          <thead>
            <tr>
              <th class="w-25">オプション</th>
              <th>サイズ名</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="sizelist, stat : *{sizeFormList}">
               <td th:text="${stat.index + 1}">1</td>
              <td>
                <input type="hidden" th:field="*{sizeFormList[__${stat.index}__].sizeId}">
                <input type="text" th:field="*{sizeFormList[__${stat.index}__].sizeName}" class="form-control">
                <input type="hidden" th:field="*{sizeFormList[__${stat.index}__].itemId}">
                <div th:if="${#fields.hasErrors('sizeFormList[' + stat.index + '].sizeName')}" 
                     class="text-danger small mt-1"
                     th:errors="*{sizeFormList[__${stat.index}__].sizeName}"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

      <div class="form-btn-container">
        <form th:action="@{/regist-item}" method="GET" class="form-item">
          <input type="submit" value="戻る" class="btn btn-secondary form-btn">
        </form>
        <div class="form-item">
          <button type="button" class="btn btn-primary form-btn" onclick="submitEditForm()">次へ</button>
        </div>
      </div>
    </div>
  </div>
	
	<script>
		function submitItemName() {
			const inputItem = document.getElementById("itemInput");
			const hiddenItem = document.getElementById("itemHidden");
			const inputPrice = document.getElementById("priceInput");
			const hiddenPrice = document.getElementById("priceHidden");
			const inputSize = document.getElementById("sizeInput");
			const hiddenSize = document.getElementById("sizeHidden");
			hiddenItem.value = inputItem.value;
			hiddenPrice.value = inputPrice.value;
			hiddenSize.value = inputSize.value;
		}
		function submitEditForm() {
			document.getElementById("editForm").submit();
		}
	</script>
</body>
</html>