<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>在庫管理-商品登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h1 class="aside-title">在庫管理</h1>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/stock-shipping}" class="aside-btn">出荷</a>
		<a th:href="@{/stock-arrival}" class="aside-btn">入荷</a>
		<a th:href="@{/regist-category}" class="aside-btn">カテゴリー管理</a>
		<a th:href="@{/regist-item}" class="aside-btn">商品管理</a>
		<a th:href="@{/stock-list}" class="aside-btn">在庫一覧</a>
		<a th:href="@{/stock-history}" class="aside-btn">出納履歴</a>
	</aside>
	
	<div class="main-content">
		<header class="header">
			<h1>商品管理</h1>
		</header>
		
		<form th:action="@{regist-item}" method="POST" th:object="${itemForm}" class="form-container">
		<h3 class="h3-title">新規登録</h3>	
			<div class="table-container">
				<div class="form-table">
					<table>
						<tbody>
							<tr>
								<th class="list-item-5 height-50px">カテゴリー</th>
								<td class="list-item-4">
									<select th:field="*{categoryId}">
										<option  value="0">カテゴリーを選択</option>
										<option th:each="categorylist : ${categoryList}"
												th:value="${categorylist.categoryId}"
												th:text="${categorylist.categoryName}"
												th:selected="${categorylist.categoryId==selectValue}">
										</option>
									</select>
								</td>
								<td class="error-td list-item-2">
									<p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" class="error-msg"></p>									
								</td>
							</tr>
							<tr>
								<th class="list-item-5 height-50px">商品名</th>
								<td class="list-item-4">
									<input type="text" th:field="*{itemName}">
								</td>
								<td class="error-td list-item-2">
									<p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="error-msg"></p>									
								</td>
							</tr>
						</tbody>
					</table>					
				</div>
				<div>
					<input type="submit" value="次へ" class="form-btn">				
				</div>
			</div>	
		</form>
		<div class="form-container">
			<h3 class="h3-title">商品一覧</h3>
			<div class="list-serch-container">
				<div class="form-container-30">
					<div class="list-select-form">
						<form th:action="@{regist-item}" method="get">
							<div>
								<select name="selectedCategoryId" class="select-2" id="category-select">
									<option  value="0">カテゴリーを選択</option>
									<option th:each="categorylist : ${categoryList}"
											th:value="${categorylist.categoryId}"
											th:text="${categorylist.categoryName}"
											>
									</option>
								</select>					
							</div>
						</form>			
					</div>
				</div>
				<div class="form-container-70">
					<div class="form-table">
						<table id="item-table">
							<thead>
								<tr>
									<th class="list-item  list-item-number"></th>
									<th class="list-item-3">商品名</th>
									<th class="list-item">　　</th>
								</tr>
							</thead>
							<tbody id="item-table-body">
								<!--アイテムリスト-->
							</tbody>
						</table>										
					</div>
				</div>
			</div>
		</div>	
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const categorySelect = document.getElementById("category-select");
			const itemTableBody = document.getElementById("item-table-body");
			categorySelect.addEventListener("change", function() {
				const categoryId = this.value;
				itemTableBody.innerHTML = "";
				
				if (!categoryId || categoryId === "0") return;
				
				const encodedCategoryId = encodeURIComponent(categoryId);
				fetch (`regist-item/by-category?categoryId=${encodedCategoryId}`)
				.then(response => response.json())
				.then(items => {
					if (items.length === 0) {
						const tr = document.createElement("tr");
						const td = document.createElement("td");
						td.setAttribute("colspan","3");
						td.textContent = "商品が見つかりません";
						tr.appendChild(td);
						itemTableBody.appendChild(tr);
					} else {
						items.forEach((item,index) => {
							const tr = document.createElement("tr");
							
							const thIndex= document.createElement("th");
							thIndex.textContent = index + 1;
							thIndex.className = "list-item list-item-number";
							tr.appendChild(thIndex);
							
							const tdName = document.createElement("td");
							tdName.textContent = item.itemName;
							tdName.className = "list-item-3";
							tr.appendChild(tdName); 
							
							const tdEdit = document.createElement("td");
							tdEdit.className = "list-item-2 option-list-6";
							tdEdit.innerHTML = `
								<form action="/item-edit" method="POST" class="form-item">
									<input type="hidden" name="itemId" value="${item.itemId}">
									<input type="hidden" name="itemName" value="${item.itemName}">
									<input type="hidden" name="categoryId" value="${item.categoryId}">
									<input type="hidden" name="price" value="${item.price}">
									<input type="submit" value="編集" class="form-btn form-edit-btn-mini" >
								</form>
								<form action="/item-delete" method="POST" class="form-item">
									<input type="hidden" name="itemId" value="${item.itemId}">
									<input type="submit" value="削除" class="form-btn form-delete-btn-mini" >
								</form>
							`;
							tr.appendChild(tdEdit);
							
							itemTableBody.appendChild(tr);
						});
					}
				})
				.catch(error => {
					console.error("商品取得エラー",error);
				})
			});
		});
	</script>
</body>
</html>