<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>在庫管理-入荷</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h1 class="aside-title">在庫管理</h1>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/stock-shipping}" class="aside-btn">出荷</a>
		<a th:href="@{/stock-arrival}" class="aside-btn">入荷</a>
		<a th:href="@{/regist-category}" class="aside-btn">カテゴリー管理</a>
		<a th:href="@{/regist-item}" class="aside-btn">商品管理</a>
		<a th:href="@{/stock-list}" class="aside-btn">在庫一覧</a>
		<a th:href="@{/stock-history}" class="aside-btn">出納履歴</a>
	</aside>
	
	<div class="main-content">
		<header class="header">
			<h1>入荷</h1>
		</header>
		<div th:object="${stockForm}" class="form-container">
			<div class="table-container">
				<div class="form-table">
					<table>
						<tr>
							<th class="list-item-5 height-50px">カテゴリー</th>
							<td class="item-left-midi list-item-4">
								<p th:each="categorylist : ${categoryList}" th:text="${categorylist.categoryName}" class="table-p"></p>
							</td>
							<td class="error-td list-item-2"></td>
						</tr>
		
						<tr>
							<th class="list-item-5 height-50px">商品</th>
							<td class="item-left-midi list-item-4">
								<p th:each="itemlist : ${itemList}" th:text="${itemlist.itemName}" class="table-p"></p> 
							</td>
							<td class="error-td list-item-2"></td>

						</tr>
						<tr th:each="sizelist : ${sizeList}">
							<th class="list-item-5 height-50px">サイズ</th>
							<td class="item-left-midi list-item-4">
								<p th:text="${sizelist.sizeName}" class="table-p"></p> 
							</td>
							<td class="error-td list-item-2"></td>

						</tr>
						<tr>
							<th class="list-item-5 height-50px">数量</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{amount}" class="table-p"></p>
							</td>
							<td class="error-td list-item-2"></td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">入荷日</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{registerDate}" class="table-p"></p>
							</td>
							<td class="error-td list-item-2"></td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">担当者</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{person}" class="table-p"></p>
							</td>
							<td class="error-td list-item-2"></td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">備考</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{comment}" class="table-p"></p>
							</td>
							<td class="error-td list-item-2"></td>
						</tr>
					</table>
					
				</div>
				<p style="margin: 0; padding: 0px; transform: translateY(-20px);">この内容で登録します。よろしいですか？</p>
				<div class="form-btn-container">				
					<form th:action="@{/confirm-stock-arrival-ret}" method="POST" th:object="${stockForm}" class="form-item">
						<input type="hidden" th:field="*{categoryId}">
						<input type="hidden" th:field="*{itemId}">
						<input type="hidden" th:field="*{sizeId}">
						<input type="hidden" th:field="*{amount}">
						<input type="hidden" th:field="*{registerDate}">
						<input type="hidden" th:field="*{person}">
						<input type="hidden" th:field="*{comment}">
						<input type="submit" value="戻る" class="form-btn  back-btn">
					</form>
					<form th:action="@{/confirm-stock-arrival}" method="POST" th:object="${stockForm}" class="form-item">
						<input type="hidden" th:field="*{categoryId}">
						<input type="hidden" th:field="*{itemId}">
						<input type="hidden" th:field="*{sizeId}">
						<input type="hidden" th:field="*{amount}">
						<input type="hidden" th:field="*{registerDate}">
						<input type="hidden" th:field="*{person}">
						<input type="hidden" th:field="*{comment}">
						<input type="submit" value="登録" class="form-btn">
					</form>
				</div>
				
			</div>
		</div>
	</div>

</body>
</html>