<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会社情報</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h2 class="aside-title">納品書</h2>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/create-delivery-slip-step1}" class="aside-btn">納品書作成</a>
		<a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
		<a th:href="@{/company}" class="aside-btn">会社情報</a>
	</aside>
	<div class="main-content">
		<header class="header">
			<h1>会社情報</h1>
		</header>
		<div th:object="${companyForm}" class="form-container">
			<div class="table-container">
				<div class="form-table">
					<table>
						<tr>
							<th class="list-item-5 height-50px">会社名</th>
							<td class="item-left-midi list-item-4">				
								<p th:text="*{companyName}" class="table-p">
							</td>
							<td class="error-td list-item-2">							
							</td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">郵便番号</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{addressNumber}" class="table-p">
							</td>
							<td class="error-td list-item-2">						
							</td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">住所</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{address}" class="table-p">
							</td>
							<td class="list-item-2">					
							</td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">電話番号</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{phoneNumber}" class="table-p">
							</td>
							<td class="list-item-2">										
							</td>
						</tr>
						<tr>
							<th class="list-item-5 height-50px">メールアドレス</th>
							<td class="item-left-midi list-item-4">
								<p th:text="*{mail}" class="table-p">							
							</td>
							<td class="list-item-2">							
							</td>
						</tr>
					</table>
				</div>
				<p style="margin: 0; padding: 0px; transform: translateY(-20px);">この内容で登録します。よろしいですか？</p>
				<div class="form-btn-container">				
					<form th:action="@{/confirm-company-ret}" method="POST" th:object="${companyForm}" class="form-item">
						<input type="hidden" th:field="*{companyName}">
						<input type="hidden" th:field="*{addressNumber}">
						<input type="hidden" th:field="*{address}">
						<input type="hidden" th:field="*{phoneNumber}">
						<input type="hidden" th:field="*{mail}">
						<input type="submit" value="戻る" class="form-btn  back-btn">
					</form>
					<form th:action="@{/confirm-company}" method="POST" th:object="${companyForm}" class="form-item">
						<input type="hidden" th:field="*{companyName}">
						<input type="hidden" th:field="*{addressNumber}">
						<input type="hidden" th:field="*{address}">
						<input type="hidden" th:field="*{phoneNumber}">
						<input type="hidden" th:field="*{mail}">
						<input type="submit" value="登録" class="form-btn">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>