<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>納品書作成</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h2 class="aside-title">納品書</h2>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/create-delivery-slip}" class="aside-btn">納品書作成</a>
		<a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
		<a th:href="@{/company}" class="aside-btn">会社情報</a>
	</aside>
	<div class="main-content">
		<header class="header">
			<h1>納品書作成</h1>
		</header>
		<div class="complete-window">
			<p style="margin-top: 200px; padding: 50px;">登録が完了しました。</p>
			<a th:href="@{create-delivery-slip-step1}" class="form-btn  back-btn">戻る</a>
		</div>
	</div>
</body>
</html>