<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>納品書作成</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h2 class="aside-title">納品書</h2>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/create-delivery-slip-step1}" class="aside-btn">納品書作成</a>
		<a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
		<a th:href="@{/company}" class="aside-btn">会社情報</a>
	</aside>
	<div class="main-content">
		<header class="header">
			<h1>納品書作成</h1>
		</header>
		<div class="stock-history-serch-container">
			<div class="form-container" style="margin-top: 20px;">
				<div class="table-container-history item-left history-serch">
					<form th:action="@{/create-delivery-slip-step1}" method="POST" th:object="${deliveryItemForm}">
						<div class="three-quarters-container">
							<div>
								<div class="history-serch-name">
								カテゴリー
								</div>
								<div class="history-serch-input select_wrapper" style="width: 35%;">
									<select class="select-2" id="category" th:field="*{categoryId}" th:attr="data-default-catgeory-id=${deliveryItemForm.categoryId}">
										<option th:value="0">---未選択---</option>
										<option th:each="list : ${categoryList}"
												th:value="${list.categoryId}"
												th:text="${list.categoryName}"
												th:selected="${list.categoryId}==${deliveryItemForm.categoryId}">
										</option>
									</select>
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" class="error-msg"></p>	
								</div>
							</div>
							<div>
								<div class="history-serch-name">
								商品
								</div>
								<div class="history-serch-input select_wrapper" style="width: 35%;">
									<select class="select-2" th:attr="data-selected-item-id=${deliveryItemForm.itemId}" id="item" th:field="*{itemId}">
										<option th:value="0">---未選択---</option>
									</select>
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('itemId')}" th:errors="*{itemId}" class="error-msg"></p>	
								</div>
							</div>
							<div>
								<div class="history-serch-name">
								サイズ
								</div>
								<div class="history-serch-input select_wrapper" style="width: 35%;">
									<select class="select-2" th:attr="data-selected-size-id=${deliveryItemForm.sizeId}" id="size" th:field="*{sizeId}">
										<option th:value="0">---未選択---</option>
									</select>	
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('sizeId')}" th:errors="*{sizeId}" class="error-msg"></p>	
								</div>
							</div>
							<div>
								<div class="history-serch-name">
									<p id="stock-amount">数量</p>								
								</div>
								<div class="history-serch-input" style="width: 35%;">
									<input type="number" id="amount" class="select-2" th:field="*{amount}">
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error-msg"></p>	
								</div>
							</div>
						</div>
						<div class="quarter-container">	
							<div class="history-serch-btn-container" style="height: 90px;">

							</div>							
							<div class="history-serch-btn-container">
								<input type="hidden" th:object="${deliveryList}">
								<input type="submit" class="form-btn-small" value="登録" style="width: 150px;">
							</div>
						</div>
					</form>
				</div>
				<div class="form-container">
					<div class="table-container-history scroll-280">
						<div class="form-table">
							<table>
								<thead>
									<tr>
										<th class="list-item history-list-th h-col5"></th>
										<th class="list-item history-list-th h-col10">商品</th>
										<th class="list-item history-list-th h-col10">サイズ</th>
										<th class="list-item history-list-th h-col10">単価</th>
										<th class="list-item history-list-th h-col10">数量</th>
										<th class="list-item history-list-th h-col10">価格</th>
										<th class="list-item history-list-th h-col10"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list :${deliveryList}">
										<th class="list-item history-list-td h-col5 counter"></th>
										<td th:text="${list.itemName}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.sizeName}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.unitPrice} + 円" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.amount}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.price} + 円" class="list-item history-list-td h-col10"></td>
										<td class="list-item history-list-td h-col10">
											<form th:action="@{/remove-delivery-item}" method="POST">
												<input type="hidden" name="itemNo" th:value="${list.itemNo}">
												<input type="hidden" name="categoryId" th:value="${deliveryItemForm.categoryId}">
												<input type="hidden" name="itemId" th:value="${deliveryItemForm.itemId}">
												<input type="hidden" name="sizeId" th:value="${deliveryItemForm.sizeId}">
												<input type="hidden" name="amount" th:value="${deliveryItemForm.amount}">
												<input type="submit" value="削除" class="form-btn-small">
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						</div>
					<div class="form-btn-container">
						<hr style="margin: 10px 0 20px;">				
						<form th:action="@{/reset-delivery-item-list}" method="GET" class="form-item">
							<input type="submit" value="リストのリセット" class="form-btn  back-btn">
						</form>
						<form th:action="@{/create-delivery-slip-step1-next}" method="POST" th:object="${historyForm}" class="form-item">
							<input type="submit" value="次へ" class="form-btn">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		document.addEventListener("DOMContentLoaded",function() {
			const categorySelect = document.getElementById("category");
			const itemSelect = document.getElementById("item");
			const sizeSelect = document.getElementById("size");
			const stockAmount = document.getElementById("stock-amount")
			
			const defaultCategoryId = categorySelect.value;
			const defaultItemId = itemSelect.getAttribute("data-selected-item-id");
			const defaultSizeId = sizeSelect.getAttribute("data-selected-size-id")
			
			function loadItems(categoryId, selectedItemId = null) {
				itemSelect.innerHTML = "";
				
				if (categoryId) {
					const encodedCategoryId = encodeURIComponent(categoryId);
					fetch(`create-delivery-slip-step1/by-category?categoryId=${encodedCategoryId}`)
						.then(response => response.json())
						.then(data => {
							const emptyOption = document.createElement("option");
							emptyOption.value = "0";
							emptyOption.textContent = "---未選択---";
							itemSelect.appendChild(emptyOption);
							
							data.forEach(item => {
								const option = document.createElement("option");
								option.value = item.itemId;
								option.textContent = item.itemName;
								if (selectedItemId && String(item.itemId) == String(selectedItemId)) {
									option.selected = true;
								}
								itemSelect.appendChild(option);
							});
						})
						.catch(error => {
							console.error("商品取得中にエラーが発生しました",error);
						});
				} else {
					const option = document.createElement("option");
					option.value = "";
					option.textContent = "--カテゴリーを選択してください--";
					itemSelect.appendChild(option);
				}
			}
			if (defaultCategoryId) {
				loadItems(defaultCategoryId, defaultItemId);
			}
			categorySelect.addEventListener("change", function() {
				loadItems(this.value);
			});
			
			function loadSize (itemId, selectedSizeId = null) {
				const sizeRow = document.getElementById("size-row");
				sizeSelect.innerHTML = "";
				
				if (itemId) {
					const encodedItemId = encodeURIComponent(itemId);
					fetch(`create-delivery-slip-step1/by-item?itemId=${encodedItemId}`)
						.then(response => response.json())
						.then(data => {
							if (data.length === 0) {
								sizeSelect.innerHTML = "";
								const option = document.createElement("option");
								option.value = "0";
								option.textContent = "---サイズなし---";
								option.selected = true;
								sizeSelect.appendChild(option);
								
								loadAmount(itemId, 0);
							} else {
								const emptyOption = document.createElement("option");
									emptyOption.value = "0";
									emptyOption.textContent = "---未選択---";
									sizeSelect.appendChild(emptyOption);
									
									data.forEach(size => {
										const option = document.createElement("option");
										option.value = size.sizeId;
										option.textContent = size.sizeName;
										if (selectedSizeId != null && selectedSizeId != "0" && String(size.sizeId) == String(selectedSizeId)) {
											option.selected = true;
											loadAmount(itemId, selectedSizeId);
										}
										sizeSelect.appendChild(option);
									});	
							}
						})
						.catch(error => {
							console.error("サイズ取得中にエラーが発生しました",error);
						});
				} else {
					const option = document.createElement("option");
					option.value = "";
					option.textContent = "--商品を選択してください--";
					sizeSelect.appendChild(option);
				}
			}
			if (defaultItemId && defaultItemId !== "0") {
				loadSize(defaultItemId, defaultSizeId);
			}
			itemSelect.addEventListener("change", function() {
				loadSize(this.value);
			});
			function loadAmount(itemId, sizeId) {
				if (itemId != null && sizeId != null) {
					fetch(`create-delivery-slip-step1/by-size?itemId=${itemId}&sizeId=${sizeId}`)
					.then(response => response.json())
					.then(data => {
						const amountInput = document.getElementById("amount");
						amountInput.value = 0;
						amountInput.max = data;
						amountInput.min = 0;
						var str;
						if (data == 0) {
							str = "数量　在庫なし"
						} else {
							str = "数量　(在庫数 " + data + ")";
						}
						stockAmount.textContent = str;
					})
					.catch(error => {
						console.error("数量取得中にエラーが発生しました", error);
					});
				}
			}
			sizeSelect.addEventListener("change", function() {
				loadAmount(itemSelect.value, this.value);
			});
		});
	</script>
		
</body>
</html>