<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>納品書作成</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<aside class="aside">		
		<h2 class="aside-title">納品書</h2>
		<a th:href="@{/index}" class="aside-btn to-top">TOPへ</a>
		<a th:href="@{/create-delivery-slip}" class="aside-btn">納品書作成</a>
		<a th:href="@{/delivery-history}" class="aside-btn">納品履歴</a>
		<a th:href="@{/company}" class="aside-btn">会社情報</a>
	</aside>
	<div class="main-content">
		<header class="header">
			<h1>納品書作成</h1>
		</header>
		<div class="stock-history-serch-container">
			<div class="form-container" style="margin-top: 20px;">
				<div class="table-container-history item-left history-serch">
					<form th:action="@{/create-delivery-slip-step2-next}" method="POST" th:object="${deliveryForm}" id="deliveryForm">
						<div class="three-quarters-container" style="margin-bottom: 0;">
							<div>
								<div class="history-serch-name">
								納品先名称
								</div>
								<div class="history-serch-input" style="width: 35%;">
									<input type="text" class="select-2" th:field="*{destination}">
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" class="error-msg"></p>	
								</div>
							</div>
							<div>
								<div class="history-serch-name">
								敬称
								</div>
								<div class="history-serch-input select_wrapper" style="width: 35%;">
									<select class="select-2" th:field="*{title}">
										<option th:value="御中">御中</option>
										<option th:value="様">様</option>
									</select>
								</div>
								<div class="history-serch-name">
								</div>
							</div>
							<div>
								<div class="history-serch-name">
								納品日
								</div>
								<div class="history-serch-input" style="width: 35%;">
									<input type="date" class="select-2" th:field="*{deliveryDate}">	
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('deliveryDate')}" th:errors="*{deliveryDate}" class="error-msg"></p>	
								</div>
							</div>
							<div>
								<div class="history-serch-name">
									担当者							
								</div>
								<div class="history-serch-input" style="width: 35%;">
									<input type="text" class="select-2" th:field="*{person}">
								</div>
								<div class="history-serch-name">
									<p th:if="${#fields.hasErrors('person')}" th:errors="*{person}" class="error-msg"></p>	
								</div>
							</div>
						</div>
						<div class="full-container" style="height: 90px; margin-top: 0;">
							<div>
								<div class="history-serch-name">
									備考							
								</div>
								<div class="history-serch-input">
									<textarea class="select-2" th:field="*{note}"></textarea>
								</div>
								<div class="history-serch-name">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="form-container">
					<div class="table-container-history scroll-280">
						<div class="form-table">
							<table>
								<thead>
									<tr>
										<th class="list-item history-list-th h-col5"></th>
										<th class="list-item history-list-th h-col10">商品</th>
										<th class="list-item history-list-th h-col10">サイズ</th>
										<th class="list-item history-list-th h-col10">単価</th>
										<th class="list-item history-list-th h-col10">数量</th>
										<th class="list-item history-list-th h-col10">価格</th>
										<th class="list-item history-list-th h-col10"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list :${deliveryList}">
										<th class="list-item history-list-td h-col5 counter"></th>
										<td th:text="${list.itemName}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.sizeName}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.unitPrice} + 円" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.amount}" class="list-item history-list-td h-col10"></td>
										<td th:text="${list.price} + 円" class="list-item history-list-td h-col10"></td>
										<td class="list-item history-list-td h-col10">
										</td>
									</tr>
								</tbody>
							</table>							
						</div>
						<div class="form-btn-container">				
							<form th:action="@{/create-delivery-slip-step2-ret}" method="POST" class="form-item">
									<input type="hidden" th:object="${deliveryForm}">
								<input type="submit" value="戻る" class="form-btn  back-btn">
							</form>
							<button class="form-btn" form="deliveryForm">次へ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>